<section class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Trailer Tube</h1>
    <p class="lead text-muted">予告編から映画を探す、レビューをする</p>
    <p>
      <%= link_to "登録して使う", new_user_registration_path, class:"btn btn-primary my-2" %>
    </p>
  </div>
</section>

<div class="container">
  <div class="row">
    <% @result["items"].each do |item| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <%= link_to image_tag(item['snippet']["thumbnails"]["high"]["url"],:width => "347.98"), home_path(1) %>
          <div class="card-body">
            <p class="card-text"><%= item['snippet']["title"] %></p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted"><%= Date.parse(item['snippet']['publishedAt']) %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
