<div class="custom-container" %>
  <div class="iframe">
    <iframe width="750" height="422" src="https://www.youtube.com/embed/<%= @videoId %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>動画公開日：<%= Date.parse(@video['items'][0]['snippet']['publishedAt']).strftime("%Y年%m月%d日") %></p>
    <p><%= @video['items'][0]["snippet"]['title'] %></p>
    <p><%= simple_format(@video['items'][0]["snippet"]['description']) %></p>
  </div>
</div>
