/* universal */

main > .container {
  padding: 60px 15px 0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

.footer {
  background-color: #f5f5f5;
  text-align: center;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* home */

.jumbotron {
  margin-top: -5px;
  background-image: url("felix-mooneeram-222805-unsplash.jpg");
  background-size: cover;
  background-position: center 60%;
  overflow: hidden;
  position: relative;
  z-index: 0;
  background-color: rgba(0,0,0,0.6);
  .container p {
    color: white;
  }
}

.jumbotron-heading {
  font-family: 'Oswald', sans-serif;
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 4em;
}

/* login-form */

#login-forms{
  width:412px;
  margin:10vh auto;
  background-color:#f3f3f3;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#login-forms form {
  width: 100%;
  max-width: 410px;
  padding: 15px;
  margin: auto;
}

#login-forms .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

#login-forms .actions {
  padding-top: 15px;
}

.custom-container {
  text-align: center;
  width: 750px;
  margin: auto;
  padding: 60px 0 200px 0;
  .iframe {
    p {
      text-align: left;
    }
  }
}

